@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #01020A;
    color: #fefefe;
}


a {
    text-decoration: none;
    color:black;
}

td p {
    color: white;
}

*::-webkit-scrollbar {
	width:6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
  	background:transparent;
}

*::-webkit-scrollbar-thumb {
	background: rgba(1, 60, 190,0.91);
	border-radius: 10px;
}

#admin-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 9999;
}

#admin-header nav{
    width: 100%;
    height: 100%;
    background: #0c141c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#admin-header nav h1{
    font-size: 1.2em;
    white-space: nowrap;
    color: white;
    padding-left: 30px;
}

#admin-header nav ul{
    list-style: none;
    color: white;
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-evenly;
}

#admin-header nav ul li a{
    color: white;
    font-weight: bold;
}

#admin-header nav h1:hover,
#admin-header nav ul li a:hover,
#admin-header nav ul li a.active{
    color: #3866ff;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-wrapper h1{
    font-size: clamp(10px,10vw,80px);
    color: #fefefe;
    margin-bottom: 30px;
}



.wrapper a h1{
    font-size: clamp(30px,10vw,100px);
    color: #fefefe;
    margin:30px 0;
}
.wrapper a h1:hover{
    color: #1149ff;
}


.head-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}


#model-name {
    color: #fefefe;
    font-size: clamp(30px,10vw,100px);
}
#model-name:hover {
    color: #1149ff;
}

#admin-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jodit-ui-form {
    width: 100%;
}
form .input-wrapper {
    width: 50%;
    height: 50px;
    border: 3px solid #1149ff;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


form .input-wrapper svg{
    width: 25px;
    margin: 0 20px;
}

form .input-wrapper input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.2em;
    font-weight: 600;
    color: #fefefe;
}
form .input-wrapper input::placeholder{
    color: #3D3B3B;
    font-weight: 600;
}

form .submit-btn {
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border-radius: 20px;
    border: 2px solid #1149ff;
    background: #242526;
}

form .submit-btn:hover {
    color: white;
    border: 2px solid white;
}

@media (max-width:600px) {
    .wrapper .card-container {
        width: 90%;
    }

    form .input-wrapper {
        width: 100%;
    }

    .modal.active {
        width: 90%;
        height: 70%;
    }

    .table td img {
        width: 100%;
    }
}

/* Admin index */
.card-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container .card{
    height: 150px;
    margin:20px;
    border-radius: 20px 20px 20px 20px;
    background: none;
    color: #fefefe;
    font-size: 1.5rem;
    box-shadow: 0 0 10px #18191A;
    border: 1px solid #1149ff;
}


.card-container .card .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.card-body .card-title {
    font-size: clamp(20px,3vw,35px);
    padding: 10% 0 20% 10%;
    text-transform: capitalize;
}

.btn {
    font-size: 1em;
    font-weight: 400;
    padding: 10px 20px;
    outline: none;
    overflow: hidden;
    background: #1c1e21;
    color: white;
    border: 2px solid #1149ff;
}

.btn:hover {
    font-size: 1em;
    outline: none;
    border: 2px solid white;
    outline: none;
}

.btn-left {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 50.4%;
    height: 50px;
    border-radius: 0 0 0 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18191a;
    border: 1px solid #1149ff;
    font-size: clamp(15px,2vw,25px);
}

.btn-right {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 50.4%;
    height: 50px;
    border: 1px solid #1149ff;
    border-radius: 0 0 20px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18191a;
    font-size: clamp(20px,2vw,30px);
    cursor: pointer;
    font-size: clamp(15px,2vw,25px);
}

.btn-left:hover ,.btn-right:hover {
    border: 2px solid white;
}




/* ALL MODELS ADMIN */
.table-container {
    width: 80%;
    margin: 0 auto;
    overflow:auto;
}


.table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
}



.table tr:nth-child(even) {
    background: none;
    border: 2px solid #1149ff;
}

.table tr:nth-child(odd) {
    background: #0C141C;
    border: 2px solid #1149ff;
}

.table th,
.table td {
  padding: .625em;
  text-align: center;
}

.table td {
    overflow: hidden;
    max-height: 80px;
}

.table td img{
    max-width: 70%;
    border-radius: 20px;
}

.table td p a{
    color: #c34545;
    font-size: 1.1em;
}

.table th {
    overflow: hidden;
    background-color: #242526;
    color: white;
    font-size: clamp(15px,1vw,20px);
    letter-spacing: .1em;
    text-transform: uppercase;
}



/* SINGLE MODEL ADMIN */
#myform {
    width: 80%;
}
#myform .form-group img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

form .form-group {
    width: 100%;
}

form .form-group label {
    width: 100%;
    font-size: 1.4em;
    font-weight: 600;
    display: block;
}

form .form-group input,
form .form-group textarea {
    width: 100%;
    outline: none;
    border: 3px solid #1149ff;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    font-size: 1.2em;
    font-weight: 600;
    color: #fefefe;
}

input[type="text"]:disabled {
    color:rgb(83, 78, 78);
}

form .form-group input::placeholder,
form .form-group textarea::placeholder{
    color: #797373;
    font-weight: 600;
}




/* Modal */
.modal {
    width: 50%;
    height: 50%;
    background-color: rgb(4, 15, 15); 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: auto;
}


.modal.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal.active form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.modal.active input {
    color: white;
    border-color: #1149ff;
}
.modal.active input:disabled {
    color: white;
    border-color: red;
}

.modal.active textarea {
    color: white;
    border-color: white;
}

.modal.active .head {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.modal.active .btn-close {
    position: sticky;
    top: 10%;
    right: 10%;
}


.dash-title {
    font-size: clamp(10px,10vw,80px);
    margin:80px 0 50px 0;
    color: #fefefe;
    text-align: center;
}

.dash-title:hover {
    animation: none;
}

@keyframes neon {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 20px #1149ff,0 0 40px #1149ff;
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
    
    
}






.deleteBtn {
    border: 2px solid #1149ff;
    border-radius: 10px;
}

.br {
    border-radius: 20px;
}

.checkbox {
    width: 30%;
    height: initial;
    min-height: 30px;
}


.svgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.svgs svg {
    width: 40px;
    color: white;
    margin: 0 50px;
}
.svgs svg:hover {
    color: #1149ff;
}

@media screen and (max-width:800px) {
    .svgs svg {
        width: 40px;
        color: white;
        margin: 0;
    }

    .head-container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
    }
    .table td {
        padding: 10px 0;
    }
}


body > div.wrapper > div.table-container > table > tbody > tr > td > p {
    max-height: 100px;
    overflow-y: scroll;
}


